main
.env
/cleaned/
/amharic_tokenizer/
/amharic-llama/
/data/
Untitled.ipynb
/home/biniyam_ajaw/finetuning/data
/cleaned/
/cleaned
/raw/*

# Logs
/front-end/logs
/front-end/*.log
/front-end/npm-debug.log*
/front-end/yarn-debug.log*
/front-end/yarn-error.log*
/front-end/pnpm-debug.log*
/front-end/lerna-debug.log*

/front-end/node_modules
/front-end/dist
/front-end/dist-ssr
/front-end/*.local

# Editor directories and files
/front-end/.vscode/*
/front-end/!.vscode/extensions.json
/front-end/.idea
/front-end/.DS_Store
/front-end/*.suo
/front-end/*.ntvs*
/front-end/*.njsproj
/front-end/*.sln
/front-end/*.sw?

/backend/raw/

.env

/backend/notebooks/*.model
/backend/notebooks/*.vocab
/merged/
/home/biniyam_ajaw/finetuning/notebook/Amh-Llama-2
/home/biniyam_ajaw/finetuning/notebook/out
notebook/Amh-Llama-2/runs/Feb01_05-31-41_ip-172-31-63-145/events.out.tfevents.1706765515.ip-172-31-63-145.33109.3
notebook/Amh-Llama-2/runs/Feb01_06-00-13_ip-172-31-63-145/events.out.tfevents.1706767218.ip-172-31-63-145.36815.0
notebook/out/runs/Feb01_05-18-26_ip-172-31-63-145/events.out.tfevents.1706764707.ip-172-31-63-145.33109.0
notebook/out/runs/Feb01_05-21-44_ip-172-31-63-145/events.out.tfevents.1706764907.ip-172-31-63-145.33109.1
notebook/out/runs/Feb01_05-21-44_ip-172-31-63-145/events.out.tfevents.1706764941.ip-172-31-63-145.33109.2
notebook/out/runs/Feb01_06-03-31_ip-172-31-63-145/events.out.tfevents.1706767416.ip-172-31-63-145.36815.1
notebook/outputs/runs/Feb01_06-08-29_ip-172-31-63-145/events.out.tfevents.1706767716.ip-172-31-63-145.36815.2
notebook/outputs/runs/Feb01_06-15-21_ip-172-31-63-145/events.out.tfevents.1706768127.ip-172-31-63-145.36815.3
/home/biniyam_ajaw/finetuning/merged.tar.gz
/merged/
/notebook/Amh-Llama-2/
/notebook/out/
/notebook/BiniyamAjaw/
/notebook/outputs/